.campus {
    margin: auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}

.gallery img {
    width: 23%;
    min-width: 200px;
    border-radius: 10px;
}
